$headerFont:'Montserrat', sans-serif;
$fontSize2:20px;
$fontSize3:16px;
$fontWeight1:400;
$fontWeight2:500;
$color1:white;
$color2:goldenrod;
$color3:black;
$maxWidth1:400px;
$maxHeight1:500px;