*{
    box-sizing: border-box;
}

body
{
    overflow-x: hidden;
    font-family: 'Crimson Text', serif;
}

p
{
    font-size: 22.5px;
    color:rgb(5, 5, 65);
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: rgb(5, 5, 65);
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

#infoHeader
{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 25px;
}

#sent1
{
    display: block;
    text-align: center;
    color: rgb(24, 24, 68);
    font-size: 12.5px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 12px;
    font-weight: 500;
}

#navbarLinks
{
    position: relative; 
    top: 16px; 
    background-color: transparent; 
    font-family: 'Montserrat', sans-serif;
}

#imgText1
{
    position: relative;
    color: white;
    font-size: 30px;
    top: -370px;
    left: 100px;
}

#imgText2
{
    position: relative;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    top: -350px;
    left: 100px;
}

#imgText3
{
    position: relative;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    top: -250px;
    left: 100px;
}

#diamondImage
{
    width: 400px;
    height: 500px;
    margin-top: -600px;
    margin-left: 300px;
}

#readAboutUsBtn
{
    background-color: transparent; 
    border: 1px solid black; 
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-size: 20px;
}

#sent1
{
    text-align: center;
    margin-top: -50px;
    padding-bottom: 40px;
}

#horizontalLine
{
    border-top: 1px solid black; 
    width: 200px;
    margin-top: 10px;
    margin-left: 600px;
}

.swiper {
    width: 100%;
    height: 240px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#ringIntro
{
    padding: 10px 30px 50px 60px;
    width: 530px;
    height: 500px;
    margin-left: 100px;
    
    font-weight: 400;
}

#ringIntroImg
{
    width: 400px;
    height: 500px;
    margin-top: -460px;
    margin-left: 850px;
}

#aboutUsText
{
    background-color: rgb(237, 246, 255);width: 530px; height: 500px; margin-left: 700px;
}

footer
{
    background-color: black;
    color: white;
}

#footerBtn
{
    border: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 1px;
    margin-top: 40px;
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

#contactInfo, #locationInfo
{
    margin-top: -86px;
    margin-left: 73px;
}

#infoSection
{
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#servicesDropdown
{
    color: white;
}

a
{
    color: white;
}

a:hover
{
    color: goldenrod;
}

#arrowUp
{
    font-size: 30px; 
    cursor: pointer; 
    position: relative; 
    top: 125px; 
    left: 1200px;
    color: white;
}

#arrowUp:hover
{
    color: goldenrod;
}

#servicesImg
{
    width: 400px;
    height: 450px;
}

#servicesHorizontalLine
{
    border-top: 1px solid black; 
    width: 70px;
    margin-top: 10px;
    margin-left: 653px;
    padding-bottom: 50px;
}

@media screen and (max-width:1400px) 
{
    #imgText1,#imgText2
    {
        position: relative;
        left: 30px;
        top: -300px;
        font-size: 35px;
        color: white;
    }

    #imgText3
    {
        position: relative;
        left: 30px;
        top: -150px;
        font-size: 35px;
        color: white;
    }
     
    #horizontalLine
  {
    border-top: 1px solid black; 
    width: 200px;
    margin-top: 10px;
    margin-left: 500px;
  }

  #aboutUs
  {
    margin-left: -100px;
  }

  #ringIntroImg
  {
      margin-left: 750px;
  }

  #servicesHorizontalLine
  {
      margin-left: 580px;
  }

  #arrowUp
  {
      position: relative;
      top: 123px;
      left: 1080px;
  }

  #footerBtn
  {
      margin-bottom: 30px;
      margin-top: 20px;
  }
}

@media screen and (max-width:1300px) 
{
    #imgText1,#imgText2
    {
        position: relative;
        left: 30px;
        top: -300px;
        font-size: 35px;
        color: white;
    }

    #imgText3
    {
        position: relative;
        left: 30px;
        top: -150px;
        font-size: 35px;
        color: white;
    }
     
    #horizontalLine
  {
    border-top: 1px solid black; 
    width: 200px;
    margin-top: 10px;
    margin-left: 500px;
  }

  #aboutUs
  {
    margin-left: -100px;
  }

  #ringIntroImg
  {
      margin-left: 750px;
  }

  #servicesHorizontalLine
  {
      margin-left: 580px;
  }

  #arrowUp
  {
      position: relative;
      top: 123px;
      left: 1010px;
  }

  #footerBtn
  {
      margin-bottom: 30px;
      margin-top: 20px;
  }
}

@media screen and (max-width:1200px) 
{
    #imgText1,#imgText2
    {
        position: relative;
        left: 30px;
        top: -270px;
        font-size: 35px;
        color: white;
    }

    #imgText3
    {
        position: relative;
        left: 30px;
        top: -150px;
        font-size: 35px;
        color: white;
    }

    #horizontalLine
    {
      border-top: 1px solid black; 
      width: 200px;
      margin-top: 10px;
      margin-left: 480px;
    }
  
    #aboutUs
    {
      margin-left: -300px;
    }
  
    #ringIntroImg
    {
        margin-left: 620px;
    }

    #servicesHorizontalLine
    {
        margin-left: 520px;
    }

    #arrowUp
    {
        position: relative;
        top: 123px;
        left: 920px;
    }

    #footerBtn
    {
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media screen and (max-width:1100px) 
{
    #imgText1,#imgText2
    {
        position: relative;
        left: 30px;
        top: -250px;
        font-size: 30px;
        color: white;
    }

    #imgText3
    {
        position: relative;
        left: 30px;
        top: -150px;
        font-size: 30px;
        color: white;
    }
     
    #horizontalLine
    {
      border-top: 1px solid black; 
      width: 200px;
      margin-top: 10px;
      margin-left: 400px;
    }
  
    #aboutUs
    {
      margin-left: -300px;
    }
  
    #ringIntroImg
    {
        margin-left: 620px;
    }

    #servicesHorizontalLine
    {
        margin-left: 460px;
    }

    #arrowUp
    {
        position: relative;
        top: 120px;
        left: 790px;
    }

    #footerBtn
    {
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media  screen and (max-width:1000px) 
{
    #imgText1,#imgText2
    {
        position: relative;
        left: 30px;
        top: -200px;
        font-size: 25px;
        color: white;
    }

    #imgText3
    {
        position: relative;
        left: 30px;
        top: -150px;
        font-size: 25px;
        color: white;
    }

    #horizontalLine
    {
      border-top: 1px solid black; 
      width: 200px;
      margin-top: 10px;
      margin-left: 360px;
    }
  
    #aboutUs
    {
      margin-left: -350px;
    }
  
    #ringIntroImg
    {
        margin-top: -80px;
        margin-left: 60px;
    }
     
    #servicesHorizontalLine
    {
        margin-left: 390px;
    }

    #arrowUp
    {
        position: relative;
        top: 130px;
        left: 700px;
    }

    #footerBtn
    {
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media screen and (max-width:900px) 
{
    #horizontalLine
    {
      border-top: 1px solid black; 
      width: 200px;
      margin-top: 10px;
      margin-left: 300px;
    }

    #diamondImage
    {
        margin-top: 20px;
        margin-left: 410px;
    }

    #aboutUsText
    {
        margin-left: 350px;
    }

    #ringIntroImg
    {
        margin-top: -80px;
        margin-left: 20px;
    }

    #ringIntro
    {
        margin-left: -30px;
    }
     
    #servicesHorizontalLine
    {
        margin-left: 355px;
    }

    #arrowUp
    {
        position: relative;
        top: 130px;
        left: 610px;
    }

    #footerBtn
    {
        margin-bottom: 30px;
        margin-top: 20px;
        margin-left: -40px;
    }
}

@media screen and (max-width:800px) 
{
    #horizontalLine
    {
      border-top: 1px solid black; 
      width: 200px;
      margin-top: 10px;
      margin-left: 200px;
    }
    
    #aboutUsText
    {
        margin-left: 350px;
        width: 400px;
        height: 550px;
    }

    #imgText1,#imgText2
    {
        position: relative;
        left: 30px;
        top: -150px;
        font-size: 21px;
        color: white;
    }

    #imgText3
    {
        position: relative;
        left: 30px;
        top: -110px;
        font-size: 21px;
        color: white;
    }

    #servicesHorizontalLine
    {
        margin-left: 290px;
    }

    #arrowUp
    {
        position: relative;
        top: 120px;
        left: 520px;
    }

    #footerBtn
    {
        margin-bottom: 30px;
        margin-top: 20px;
    }
}

@media  screen and (max-width:700px) 
{
    #servicesHorizontalLine
    {
        margin-left: 250px;
    }
    
    #arrowUp
    {
        position: relative;
        top: 150px;
        left: 400px;
    }
}

@media screen and (max-width:600px) 
{
    #imgText1,#imgText2
    {
        position: relative;
        left: 30px;
        top: -120px;
        font-size: 21px;
        color: white;
    }

    #imgText3
    {
        position: relative;
        left: 30px;
        top: -100px;
        font-size: 21px;
        color: white;
    }

    #horizontalLine
    {
      border-top: 1px solid black; 
      width: 200px;
      margin-top: 10px;
      margin-left: 110px;
    }

    #ringIntro
    {
        margin-left: -40px;
        display: block;
        width: 450px;
        height: 500px;
    }

    #aboutUsText
    {
        margin-left: 320px;
        width: 360px;
        height: 620px;
        padding-right: 15px;
    }

    #diamondImage
    {
        margin-top: 20px;
        margin-left: 320px;
        width: 330px;
        height: 450px;
    }

    #ringIntroImg
    {
        width: 330px;
        height: 450px;
        margin-left: 10px;
    }

    #servicesImg
    {
        width: 330px;
        height: 450px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #servicesHorizontalLine
    {
        margin-left: 147px;
    }

    #arrowUp
    {
        position: relative;
        top: 170px;
        left: 230px;
    }

    #footerBtn
    {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    
    #contactSection
    {
        padding-bottom: 15px;
    }
}
  





